.image{
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    img{height: 100%;width: auto;}

    &.md{
        width: 30px !important;
        height: 30px !important;
    }

    &.lg{
        width: 60px !important;
        height: 60px !important;
    }

    &.xl{
        width: 100px !important;
        height: 100px !important;
    }
}